.color-title {
  font-weight: normal;
}
#red {
  color: red;
}
#green {
  color: green;
}
#blue {
  color: blue;
}
#yellow {
  color: yellow;
}
#orange {
  color: orange;
}
img {
  width: 200px;
  height: 200px;
}

